*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .cardone{
      background: #eeeeee;
      width: 17rem;
      padding: 1rem;
      margin: 2rem auto;
      transition: all 0.3 linear;
      text-align: center;   
  }
  .cardone img{
    border: 0.1rem solid teal;
    border-radius: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-bodyone p{
      color: teal;
  }
  .cardone:hover{
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  